#--------------------------------------
# ignore
#--------------------------------------
bin
obj

#--------------------------------------
# exe file
#--------------------------------------
!bin/Release/adiary_service.exe

